<div
  class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-xl-0 mt-lg-0 mt-md-5 mt-sm-5 mt-5"
  id="clinicInfo"
>
  <div id="clinicInfoContainer">
    <div class="h-100 d-flex flex-column text-white">
      <div class="mx-auto mb-2 flex-fill">
        <img
          src="img/hospital2.png"
          width="40px"
          alt="Clinic"
          style="vertical-align: middle"
        />
        <span id="clinicTitle" class="m-1">
          درمانگاه تخصصی دندانپزشکی شهید منتظری
        </span>
      </div>
      <div class="flex-fill text-center">
        <img src="img/clinic.jpg" id="clinicImage" alt="ClinicImg" />
      </div>
      <div class="text-center flex-fill mt-3">
        <p>
          <img src="icons/location.png" width="20px" alt="Location" />
          <span
            >آدرس: ​تهران، خیابان کریمخان زند، آبان جنوبی، سپندغربی، پلاک 71
          </span>
        </p>
        <p id="clinicPhoneNumber">
          <img src="icons/phone.png" width="20px" alt="Phone" />
          <span> 02177564921 </span>
        </p>
      </div>
    </div>
  </div>
</div>
