<%- include ('./layouts/head.ejs') %>
    <link rel="stylesheet" href="css/validationPages.css">

    <body>
        <section class="loginPage">
            <div class="container-fluid loginLayout">
                <div class="row h-100">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" id="loginForm">
                        <div class="d-flex flex-column" id="formElements">
                            <div class="loginHeader pt-2">
                                <h3 class="text-center" style="color:#727A80; font-weight: bold;">صفحه ی ورود کاربران
                                </h3>
                                <div class="helpUser">
                                    <ul>
                                        <li>کلمه ی عبور شما در ابتدا شماره ثابت و یا شماره ی موبایلی هست که در کلینیک ثبت کرده اید</li>
                                        <li>شماره ثابت 7 یا 8 رقمی است که باید آنرا بدون پیشوند و خط فاصله و هیچگونه علامتی بنویسید (مثلا 77594621)</li>
                                        <li>شماره موبایلتان را با پیش شماره و بدون خط فاصله و 98+ بنویسید (مثلا 09125849856)</li>
                                        <li>در صورت مواجه با خطای ثبت نشدن شماره تماس، با شماره 02177564921 تماس بگیرید و بخواهید شماره تماس شما را در سیستم ثبت کنند</li>
                                        <li>با ورود به صفحه ی کاربری خود، بهتر است برای امنیت بیشتر، کلمه ی عبور خود را تغییر دهید</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="loginFormInputs flex-fill">
                                <form class="loginForm d-flex flex-column pt-3 mx-auto" style="width:75%; min-width:300px;">
                                    <label for="docNumber">شماره پرونده: </label>
                                    <input type="text" name="docNumber" id="docNumber" value="" autofocus required>
                                    <span id="docNumberError" class="mt-2 text-center text-danger">
                                        
                                    </span>
                                    <label for="Password" class="mt-3">کلمه عبور: </label>
                                    <input type="password" name="loginPassword" id="loginPassword" required>
                                    <img src="img/invisible.png" id="PassVisibilityImg" width="24px"
                                    style="margin-top:-26px ;" alt="password visibility">
                                    <span id="passwordError" class="mt-2 text-center text-danger">
                                        
                                    </span>
                                    <div class="d-block w-100 text-center">
                                        <button type="submit"
                                            class="loginSubmit px-lg-5 px-xl-5 px-md-3 px-3 py-1 mt-xl-5 mt-lg-4">
                                            ورود
                                            <i class="fa fa-spinner fa-spin loginSpinner d-none" style="font-size:18px; color:white"></i>
                                        </button>
                                            <div class="mt-2">
                                                <a href="/forget-password" style="text-decoration:none ;">فراموشی رمز عبور</a>
                                            </div>
                                        <!-- <input type="button"
                                            class="passwordReset px-lg-5 px-xl-5 px-md-2 py-1 mt-xl-5 mt-lg-4"
                                            value="فراموشی رمز عبور"
                                             /> -->
                                        <p id="formError" class="mt-2 text-center text-danger">
                                        </p>
                                    </div>
                                    <% if(message) { %>
                                        <div class="alert alert-danger noImageFoundError">
                                            <!-- <button type="button" class="close" data-dismiss="alert"> -->
                                            <img src="/img/close.png" width="20px" alt="x" style="cursor:pointer;" onclick="closeMessageBox(this)">
                                        <!-- </button> -->
                                            <%- message %>
                                        </div>
                                    <% } %>
                                </form>
                            </div>
                        </div>
                    </div>
                    <%- include('./layouts/clinicInformation.ejs') %>
                </div>
            </div>
        </section>
    </body>

    <script src="js/secondPasswordVisibility.js"></script>
    <script src="js/validateDocNumberField.js"></script>
    <script src="js/sendLoginCredentials.js"></script>
    <script></script>

    </html>