@font-face {
    font-family: Bnazanin;
    src: url('../font/BNazanin.ttf'),
        url('../font/BNazanin.woff')
}

* {
    font-family: Bnazanin;
    direction: rtl;
}

body {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.loginPage {
    width: 90%;
    min-width: 400px;
    max-width: 1200px;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loginLayout {
    width: 100%;
    height: 100%;
    max-width: 1200px;
}

#clinicInfo {
    background-image: linear-gradient(to bottom right, #76B8FF, #4973FC);
    border-radius: 74px;
    position: relative;
}

#loginForm,  #forgetPasswordForm {
    border-radius: 74px;
    background-color: #F2F6FF;
}

#loginForm::before, #forgetPasswordForm::before {
    content: "";
    width: 50%;
    height: 100%;
    background-color: #F2F6FF;
    position: absolute;
    top: 0;
    right: 100px;
    z-index: -1;
}

#formElements {
    width: 90%;
    height: 100%;
    min-height: 600px;
    /* border-radius: 61px; */
    /* background-color: #FFFFFF; */
    margin: 5px auto;
    /* transform: translateY(7%); */
    /* box-shadow: 0 0 15px #c6c6c6; */
}

#clinicInfoContainer {
    width: 90%;
    height: 90%;
    margin: 0px auto;
    transform: translateY(5%);
}

#clinicTitle {
    font-size: 22px;
    color: white;
    font-weight: bolder;
    vertical-align: middle;
}

#clinicImage {
    width: 75%;
    min-width: 200px;
    height: 100%;
    min-height: 100px;

}

.helpUser {
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
}

.loginFormInputs {
    border: none;
    border-radius: 61px;
    border-top: 3px solid rgb(118, 118, 118)
}

.loginFormInputs label {
    color: #7796FF;
    font-size: 18px;
    font-weight: bold;
}


#docNumber,
#docNum,
#loginPassword,
#confirmNewPassword,
#loginPassword2,
#newPassword, 
#melicode,
#Tel {
    border: none;
    border-bottom: #707070 1px solid;
    outline: none;
    color: #7796FF;
    font-size: 16px;
    direction: ltr;
}

#docNumber:focus,
#confirmNewPassword:focus,
#newPassword:focus,
#loginPassword:focus,
#loginPassword2:focus,
#meliCode:focus,
#Tel:focus,
#docNum:focus {
    border-bottom: #4b4b4b 2px solid;
}


.loginSubmit, .melicodeloginSubmit,
.resetPassSubmit, .forgetPassSubmit {
    border: none;
    outline: none;
    border-radius: 13px;
    background-color: #4187F1;
    color: white;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    transition: 300ms;
}

.loginSubmit:hover,
.melicodeloginSubmit:hover,
.resetPassSubmit:hover {
    background-color: #2677f0;
}

.passwordReset {
    border: none;
    outline: none;
    border-radius: 13px;
    background-color: #888888;
    color: white;
    margin-top: 8px;
    transition: 300ms;
}

.passwordReset:hover {
    background-color: #616161;
}


#loginError, #melicodeformError {
    font-size: 15px;
    margin-top: 8px;
    color: #FF1313;
}

@media (max-width: 995px) {
    #loginForm::before, #forgetPasswordForm::before {
        display: none;
    }

    #loginForm, #forgetPasswordForm{
        height: 600px;
    }

    #clinicPhoneNumber {
        padding-bottom: 13px;
    }
}

.loader {
    width: 16px;
    height: 16px;
    border: 2px solid rgb(0, 205, 10);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.mainRedirect{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    color:rgb(0, 205, 10);
    font-size: 16px;
}